In [ ]:
#Functional programming - Borrowed from Cprogramming 
#Object oriented programming (OOPs) - c++
#Scripting language - Perl and Shell scripting
#Modular programming - Modula 3 
#Syntax - C and ABC programming

In [1]:
#Desktop application - Calculators
#Web applications - Django, Flask, Tkinter 
#Database application
#Network application 
#Games 
#Data Analytics and Data Science 
    #Machine Learning 
#Artificial Intelligence 
    #Deep Learning 
#IOT Application

In [2]:
from random import *
for i in range(0,10):
    print(randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9),randint(0,9))

3 1 5 8 7 9
8 0 0 0 4 9
0 1 3 6 3 8
0 0 4 3 3 6
9 6 1 3 7 2
9 6 2 5 2 3
9 1 3 3 3 2
4 7 2 7 0 9
7 4 7 2 4 5
5 9 2 6 3 0

In [3]:
#Cpython 
#Jpython - jython
#Ironpython - csharpe or .net 
#pypy - Improve the performace of the code internally P(ython)V(irtual)M(achine)
#RubyPython - Ruby
#Anaconda Python - Big Data ************
#stackless - Python concurrency

In [ ]:
#Python versions 
#Python 1.0 - 1994 
#Python 2.0 - 2000
#Python 3.0 - 2008
#Python 3.6.3 - 2016 
#Python 3.8.2 - 2020

In [4]:
customer_name = 'Anita'

In [5]:
customer_name

'Anita'

In [7]:
customer123 = 'Anita'

In [8]:
cust123mer='Anit'

In [13]:
#Alphabets - lower  or upper 
#Number (0-9) - Middle or end 
#undescore _
customer_ = 'Anita'

In [14]:
money =100

In [15]:
Money=200

In [16]:
money

100

In [17]:
Money

200

In [20]:
And = 'Rahul'

In [21]:
And

'Rahul'

In [24]:
import keyword 
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
#Types of datatypes 
#Int
#str
#bool
#float

#Zero usage
#complex
#byte
#bytearray
#range

#Python collection Datatypes 
#Lists
#Tuples
#Sets
#Frozensets 
#Dictionaries 

#None

In [25]:
Customername = None

In [27]:
type(Customername)

NoneType

In [43]:
a = -5
print(id(a))
b = -5
print(id(b))
c = 256
print(id(c))
d = 256
print(id(d))

140703161819344
140703161819344
140703161827696
140703161827696

In [48]:
a=10
b=20
print(a)
print(b)

10
20

In [ ]:
#Int
    #Decimal - Base 10 
    #Binary - Base 2
    #Octal - Base 8
    #Hexadecimal - Base 16

In [49]:
a = 777

In [50]:
a

777

In [51]:
a=1111

In [53]:
a = 0b1111

In [54]:
a

15

In [58]:
a = 0O755
#0-7

In [56]:
a

511

In [ ]:
#0-9  , a to f or A to F

In [60]:
a=0Xface

In [61]:
type(a)

int

In [62]:
a

64206

In [66]:
a=False
b=False
a+b

0

In [69]:
a = "The Scholar Learning"

In [70]:
a

'The Scholar Learning'

In [75]:
a="The 'Scholar Learning' is an amazing platform"

In [76]:
a

"The 'Scholar Learning' is an amazing platform"

In [77]:
a='''The 'Scholar Learning' is an "amazing" platform'''

In [82]:
a

'The \'Scholar Learning\' is an "amazing" platform'

In [83]:
print(a)

The 'Scholar Learning' is an "amazing" platform

In [84]:
a = 'The Scholar'

In [85]:
a

'The Scholar'

In [97]:
a[-1:-11:-5]

'rc'

In [94]:
a[-7:-1]

'Schola'

In [ ]:
a[-3:]

In [ ]:
#Python Collection Datatype 
#List

In [102]:
ages = ['A',23,'B',54,True,33,23.5,22,43,34,32,45,33]

In [100]:
type(ages)

list

In [108]:
type(ages[6])

float

In [109]:
len(ages)

13

In [112]:
ages[-1:-6:-1]

[33, 45, 32, 34, 43]

In [113]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [114]:
ages[0:4]

['A', 23, 'B', 54]

In [115]:
ages[6:0:-1]

[23.5, 33, True, 54, 'B', 23]

In [116]:
ages[-4:]

[34, 32, 45, 33]

In [117]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [118]:
ages[6:0:-1]

[23.5, 33, True, 54, 'B', 23]

In [123]:
ages[-6:-1:-1]

[]

In [125]:
ages[1]=32

In [126]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [129]:
#Insertion order is preserved
#Duplicates are allowed
#Heterogeneous data allowed 
#Growable in nature
#values are enclosed in the square bracket
#Lists are mutable in nature

In [131]:
ages.append(100)

In [137]:
ages.append([200,300,400])

In [158]:
ages=['A', 32, 'B', 54, True, 33, 23.5,33,33]

In [142]:
del ages[-1]

In [145]:
del ages

In [149]:
ages.clear()

In [153]:
ages

['A', 32, 'B', 54, True, 33, 23.5]

In [154]:
ages1=ages.copy()

In [155]:
ages1

['A', 32, 'B', 54, True, 33, 23.5]

In [159]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 33, 33]

In [160]:
ages.count(33)

3

In [167]:
ages.extend([8,9])

In [168]:
id(ages)

2925657499016

In [164]:
ages.index(33)

5

In [169]:
ages

['A', 32, 'B', 54, True, 33, 23.5, 33, 33, 3, 4, 5, 6, 8, 9]

In [170]:
ages.insert(4,20)

In [171]:
ages

['A', 32, 'B', 54, 20, True, 33, 23.5, 33, 33, 3, 4, 5, 6, 8, 9]

In [177]:
ages.pop(5)

True

In [178]:
ages

['A', 32, 'B', 54, 20, 33, 23.5, 33, 33, 3, 4, 5]

In [179]:
ages.remove('B')

In [180]:
ages

['A', 32, 54, 20, 33, 23.5, 33, 33, 3, 4, 5]

In [181]:
ages.reverse()

In [184]:
ages.pop()

'A'

In [187]:
ages.sort(reverse=True)

In [188]:
ages

[54, 33, 33, 33, 32, 23.5, 20, 5, 4, 3]

In [190]:
del ages[5]

In [196]:
ages.pop()

3

In [194]:
ages.remove(32)

In [195]:
ages

[54, 33, 33, 33, 5, 4, 3]

In [197]:
ages

[54, 33, 33, 33, 5, 4]

In [198]:
del ages[1:4]

In [200]:
del ages

In [201]:
ages

NameError: name 'ages' is not defined